<div class="wrapper">
    <app-header></app-header>
    <!-- END HEADER -->

    <div class="clearfix">
    </div>

    <!-- BEGIN CONTAINER -->
    <div class="page-container">
        <!-- BEGIN SIDEBAR -->
        <app-sidebar></app-sidebar>
        <!-- END SIDEBAR -->


        <!-- BEGIN CONTENT -->
        <div class="page-content-wrapper">
            <div class="page-content inner-page">
                <form [formGroup]="updateGuestForm">
                <h1>Edit Guest</h1>
                <!--<div class="grid-srch">-->
                    <!--<div class="grid-srch-lt">-->
                        <!--<div class="input-group add-on">-->
                            <!--<input type="text" id="srch-term" name="srch-term" placeholder="Search"-->
                                   <!--class="form-control">-->
                            <!--<div class="input-group-btn">-->
                                <!--<button type="submit" class="btn btn-default"><i class="glyphicon glyphicon-search"></i>-->
                                <!--</button>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->


                <!-- Conference-Preiew -->

                <div class="Upcoming-tab-content Conference-Preiew Conference-Preiew2">
                </div>  <!--Upcoming-tab-content-->
                <!-- Conference-Preiew -->
                <div class="event-sec">
                    <div class="row margin-top">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <div class="edit-img">
                                    <img [src]="guestDetail.userImage" alt="images" title="images">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row margin-top">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="usr" class="label-text">Photo</label>
                                <input class="form-control input-box"  type="file" (change)="captureFile($event)">
                            </div>
                        </div>
                    </div>



                    <div class="row margin-top">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="usr" class="label-text">Guest name</label>
                                <input class="form-control input-box" type="text" formControlName="guestName">
                                <show-errors [control]="updateGuestForm.controls.guestName"></show-errors>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="usr" class="label-text">Email Address</label>
                                <input class="form-control input-box" type="text" formControlName="guestEmail">
                                <show-errors [control]="updateGuestForm.controls.guestEmail"></show-errors>
                            </div>
                        </div>

                    </div>

                    <div class="row margin-top">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="usr" class="label-text">Phone Number</label>
                                <input class="form-control input-box" type="text" [value]="guestDetail.mobile" formControlName="guestMobile">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="usr" class="label-text">Select Event Type</label>
                                <select [(ngModel)]="sessionBased" [ngModelOptions]="{standalone: true}" class="form-control input-box">
                                    <option value = "1">Session Based</option>
                                    <option value = "0">All Session Based</option>
                                </select>
                            </div>
                        </div>

                    </div>

                    <div class="row margin-top" *ngIf = "sessionBased==1">

                        <div class="col-sm-12">
                            <div class="pull-left session">
                                <a href="javascript:;" class="">Select Session</a>
                            </div>
                        </div>

                    </div>

                    <div class="row margin-top" *ngIf = "sessionBased==1">
                        <ng-container *ngIf="eventSessionsCount; else event_session">
                            <div class="col-sm-4">
                                <label for="usr" class="label-text">Sessions</label>
                                <div class="checkbox-otr">
                                    <div *ngFor="let eventSession of eventSessions" class="checkbox">
                                        <label><input type="checkbox" (change) = "captureSelectedSessions($event)" [checked] = "eventSession.checked" [value]="eventSession._id">{{eventSession.title}}</label>
                                    </div>
                                </div>
                            </div>
                        </ng-container>
                        <ng-template #event_session>
                            <div class="col-sm-12">
                                <label for="usr" class="label-text">Session</label>
                                <div class="checkbox-otr">
                                    <div  class="checkbox">
                                        <label> No record available. </label>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                    </div>

     <!--               <div class="row margin-top">
                        <div class="col-sm-5">
                            <div class="edit-guestbtn">
                                <button type="button" class="btn btn-editsec">Objectives <i class="fa fa-times"
                                                                                            aria-hidden="true"></i>
                                </button>
                                <button type="button" class="btn btn-editsec">Scopes and benefits <i class="fa fa-times"
                                                                                                     aria-hidden="true"></i>
                                </button>
                            </div>
                        </div>

                    </div>-->


                    <div class="row margin-top">
                        <div class="col-sm-12">

                                <a href="javascript:;" class="" (click) = "updateGuest()" class="btn btn-success edit-conferenceupdate">Update</a>

                        </div>
                    </div>
                </div>
                </form>
            </div>
            <!-- inner page -->

        </div>
        <!-- END CONTENT -->


    </div>
    <!-- END CONTAINER -->
    <app-footer></app-footer>
    <!-- FOOTER -->
</div>
