<div class="wrapper">
    <app-header></app-header>
    <!-- END HEADER -->

    <div class="clearfix">
    </div>

    <!-- BEGIN CONTAINER -->
    <div class="page-container">
        <!-- BEGIN SIDEBAR -->
        <app-sidebar></app-sidebar>
        <!-- END SIDEBAR -->

        <!-- BEGIN CONTENT -->
        <div class="page-content-wrapper">
            <div class="page-content inner-page">
                <h1>Revenue Stats</h1>
                <!--<div class="grid-srch">
                    <div class="grid-srch-lt">
                        <div class="input-group add-on">
                            <input type="text" id="srch-term" name="srch-term" placeholder="Search"
                                   class="form-control">
                            <div class="input-group-btn">
                                <button type="submit" class="btn btn-default"><i class="glyphicon glyphicon-search"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>-->


                <!-- Conference-Preiew -->

                <div class="Upcoming-tab-content Conference-Preiew Conference-Preiew2">
                    <div class="col-sm-12">
                        <!-- <div class="pull-right Add-Event">
						  <a href="javascript:;" class="btn">Add Event</a>
						</div> -->
                    </div>


                </div>  <!--Upcoming-tab-content-->
                <!-- Conference-Preiew -->

                <div class="event-sec">
                    <div class="row">
                        <app-event-pie-chart></app-event-pie-chart>
                        <app-revenue-pie-chart></app-revenue-pie-chart>

                    </div>

                    <div class="row margin-top">
                       <!-- <app-revenue-bar-chart></app-revenue-bar-chart>  -->
                        <!--<div class="col-sm-6">-->
                            <!--<div class="form-group">-->
                                <!--<label class="label-text full-wd headingtextcolor chartlabeltext" for="usr">Geography Division</label>-->
                                <!--<textarea class="form-control input-box textarea-box"></textarea>-->
                            <!--</div>-->
                        <!--</div>-->

                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="label-text full-wd" for="usr">Geography Division</label>
                                    <img src="assets/images/geography_division.jpg">
                                </div>
                            </div>

                    </div>
                </div>



            </div>
            <!-- inner page -->

        </div>
        <!-- END CONTENT -->
    </div>
    <!-- END CONTAINER -->
    <app-footer></app-footer>
    <!-- FOOTER -->
</div>

