<div class="wrapper">
    <app-header></app-header>
    <!-- END HEADER -->

    <div class="clearfix">
    </div>

    <!-- BEGIN CONTAINER -->
    <div class="page-container">
        <!-- BEGIN SIDEBAR -->
        <app-sidebar></app-sidebar>
        <!-- END SIDEBAR -->

        <!-- BEGIN CONTENT -->
        <div class="page-content-wrapper">
            <div class="page-content inner-page inner-page2">
                <div class="event-sec">
                    <form [formGroup]="editConfrenceForm" class="conference-editform">
                        <div class="form-row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="usr" class="label-text"> Give your conference a title
                                        <span class="required">*</span>
                                    </label>

                                    <input maxlength="100" type="text "  class="form-control input-box" formControlName="conferenceAtitle">
                                    <show-errors [control]="editConfrenceForm.controls.conferenceAtitle"></show-errors>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="upload-box upload-conferenceedit">
                                    <div class="hold">

                                        <label for="usr" class="label-text">
                                            Upload Image
                                            <!--<span class="required">*</span>-->
                                        </label>
                                        <input class="form-control input-box" type="file" formControlName="conferenceFile1" (change)="captureFile1($event)">
                                        <show-errors [control]="editConfrenceForm.controls.conferenceFile1"></show-errors>
                                        <input class="form-control input-box" type="file" formControlName="conferenceFile2" (change)="captureFile2($event)">
                                        <input class="form-control input-box" type="file" formControlName="conferenceFile3" (change)="captureFile3($event)">
                                        <input class="form-control input-box" type="file" formControlName="conferenceFile4" (change)="captureFile4($event)">
                                        <input class="form-control input-box" type="file" formControlName="conferenceFile5" (change)="captureFile5($event)">
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class=" margin-top">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label for="usr" class="label-text">Describe your conference
                                        <span class="required">*</span>
                                    </label>
                                    <textarea maxlength="1000" class="form-control input-box textarea-box" formControlName="describeYourConference"></textarea>
                                    <show-errors [control]="editConfrenceForm.controls.describeYourConference"></show-errors>
                                </div>
                            </div>
                        </div>

                        <div class=" margin-top">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="usr" class="label-text">Conference Type
                                        <span class="required">*</span>
                                    </label>
                                    <select [(ngModel)]="selectedConferenceType" class="fm-txt form-control" data-type="select" placeholder="Claim Type" name="departmentKey"
                                        id="departmentKey" class="fm-txt form-control tFootInput inputSearch" formControlName="conferenceType">
                                        <option *ngFor="let type of types" [ngValue]="type.event_type">{{type.event_type}}</option>

                                    </select>
                                    <show-errors [control]="editConfrenceForm.controls.conferenceType"></show-errors>
                                </div>

                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="usr" class="label-text">Conference Category
                                        <span class="required">*</span>
                                    </label>
                                    <select [(ngModel)]="selectedConferenceCategory" class="fm-txt form-control" data-type="select" placeholder="Claim Type" name="departmentKey"
                                        id="departmentKey" class="fm-txt form-control tFootInput inputSearch" formControlName="conferenceCategory">
                                        <option *ngFor="let category of categories" [ngValue]="category.event_category">{{category.event_category}}</option>
                                    </select>
                                    <show-errors [control]="editConfrenceForm.controls.conferenceCategory"></show-errors>
                                </div>
                            </div>
                        </div>

                        <div class=" margin-top">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="usr" class="label-text">Venue
                                        <span class="required">*</span>
                                    </label>
                                    <input type="text " [value]="this.location_name" class="form-control input-box" formControlName="venue">
                                    <show-errors [control]="editConfrenceForm.controls.venue"></show-errors>
                                </div>
                            </div>
                            <div class="col-sm-5 col-md-6  col-xs-12 form-group">
                                <label class="label-text">Conference Type</label>
                                <br>
                                <div class="form-check-inline">

                                    <label class="customradio">
                                        <span class="radiotextsty">Free</span>
                                        <input type="radio" [checked] = "true" [value]="1" name="ticketType" formControlName="ticketType">
                                        <span class="checkmark"></span>
                                    </label>
                                    <label class="customradio">
                                        <span class="radiotextsty">Paid</span>
                                        <input type="radio" name="ticketType" [value]="2"  formControlName="ticketType">
                                        <span class="checkmark"></span>
                                    </label>
                                    <show-errors [control]="editConfrenceForm.controls.ticketType"></show-errors>
                                </div>
                            </div>

                        </div>

                        <div class=" date-conferenceedit">
                            <div class="col-sm-12">
                                <label class="label-text">Set the date of your conference</label>
                            </div>
                            <div class="col-md-12 margin-top">
                                <div class="form-group2 col-md-6">
                                    <div class="form-group">

                                        <div class="test">
                                            <label for="usr" class="label-text">From
                                                <span class="required">*</span>
                                            </label>
                                            <angular2-date-picker (onDateSelect)="onFromDateSelect($event)" [(ngModel)]="date1"  [settings]="settings" formControlName="from"></angular2-date-picker>
                                            <show-errors [control]="editConfrenceForm.controls.from"></show-errors>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group2 form-group2">
                                    <div class="form-group">

                                        <div class="test">
                                            <label for="usr" class="label-text">To
                                                <span class="required">*</span>
                                            </label>
                                            <angular2-date-picker (onDateSelect)="onToDateSelect($event)" [(ngModel)]="date2" [settings]="settings" formControlName="to"></angular2-date-picker>
                                            <show-errors [control]="editConfrenceForm.controls.to"></show-errors>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="">
                            <div class="col-sm-12">
                                    <input type="button"  (click)="editConfrenceEvent()" type="submit" class="btn btn-success conference-editbutton" value="Done">
                            </div>
                        </div>
                    </form>
                </div>

            </div>

            <!-- inner page -->

        </div>
        <!-- END CONTENT -->
    </div>
    <!-- END CONTAINER -->
    <app-footer></app-footer>
    <!-- FOOTER -->
</div>
