<div class="wrapper">
    <app-header></app-header>
    <!-- END HEADER -->

    <div class="clearfix">
    </div>

    <!-- BEGIN CONTAINER -->
    <div class="page-container">
        <!-- BEGIN SIDEBAR -->
        <app-sidebar></app-sidebar>
        <!-- END SIDEBAR -->

        <!-- BEGIN CONTENT -->
        <div class="page-content-wrapper">
            <div class="page-content inner-page">
                <h1>Statistics</h1>

                <!-- Conference-Preiew -->
                <div class="Upcoming-tab-content Conference-Preiew Conference-Preiew2">
                    <div class="col-sm-12">
                    </div>


                </div>  <!--Upcoming-tab-content-->
                <!-- Conference-Preiew -->

                <div class="event-sec">
                    <div class="row">
                        <!-- this is first pie chart -->
                        <app-static-event-pie-chart></app-static-event-pie-chart>
                        <!-- This is Second Pie Chart -->
                        <app-statistic-revenue-pie-chart></app-statistic-revenue-pie-chart>
                    </div>

                    <div class="row margin-top">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="label-text full-wd" for="usr">Geography Division</label>
                                <img src="assets/images/geography_division.jpg">
                            </div>
                        </div>
                    </div>
                </div>


            </div>
            <!-- inner page -->

        </div>
        <!-- END CONTENT -->
    </div>
    <!-- END CONTAINER -->
    <app-footer></app-footer>
    <!-- FOOTER -->
</div>

